<main class="main">

  <div class="content">
    <div class="container">
      <div class="slider">
        <p>Profile Card Generator<p>
      </div>
      <div class="profile-container">
        <!-- Form Section -->
        <form (ngSubmit)="generateProfile()" class="form-section">
          <label>Profile Picture URL:</label>
          <input type="text" [ngModel]="profilePicture" (ngModelChange)="profilePicture = $event" name="profilePicture"
            required>

          <label>Name:</label>
          <input type="text" [(ngModel)]="name" name="name" required>

          <label>Designation:</label>
          <input type="text" [(ngModel)]="designation" name="designation" required>

          <label>Description:</label>
          <textarea [(ngModel)]="description" name="description" required></textarea>

          <label>Phone Number:</label>
          <input type="text" [(ngModel)]="contact.phone" name="phone" required>

          <label>Email:</label>
          <input type="email" [(ngModel)]="contact.email" name="email" required>

          <button type="submit">Generate Profile Card</button>
        </form>

        <!-- Profile Card Component -->
        <app-profile-card *ngIf="showCard" [profilePicture]="profilePicture" [name]="name" [designation]="designation"
          [description]="description" [contact]="contact">
        </app-profile-card>
      </div>
    </div>
  </div>
</main>

<router-outlet />